 <!-- Hero -->
  <section class="py-5 montserrat bgc-light section " >
    <div class="container">
      <div class="row align-items-center">

        <!-- left -->
        <div class="col-lg-7 mt-5">
          <h4 class="clr-yellow"  data-aos="fade-right" data-aos-delay="200">Fast. Reliable. Affordable.</h4>
          <h1 class="fw-bold"  data-aos="fade-right" data-aos-delay="300">Rent our L300 vans — perfect for group trips & cargo</h1>
          <p class="clr-sltblack" data-aos="fade-right" data-aos-delay="400">Clean, well-maintained L300 vans with driver or self-drive options. Coverage: Manila, Cavite, and nearby provinces. Competitive rates and flexible pickup/drop-off.</p>

          <!-- buttons -->
          <div class="d-flex align-items-center gap-2" data-aos="fade-right" data-aos-delay="500">
            <a href="#qoute" class="btn btn-dark">Book now</a>
            <a href="#rides" class="btn btn-outline-dark">See Rides</a>
          </div>

          <!-- features -->
          <div class="row mt-4 g-3 " >
            <!-- feat.1 -->
            <div class="col-md-auto col-sm-4 col-6   " data-aos="fade-up" data-aos-delay="200">
              <div class="d-flex align-items-center box shadow py-2 px-4" >
                <i class="clr-yellow bi bi-people-fill me-md-4 me-2 fs-1"></i>
                <div>
                  <div class=" clr-sltblack">Passengers</div>
                  <strong class="fw-bold">12-15</strong>
                </div>
              </div>
            </div>

            <!-- feat.2 -->
             <div class="col-md-auto col-sm-4 col-6   " data-aos="fade-up" data-aos-delay="300">
              <div class="d-flex align-items-center box shadow py-2 px-4" >
                <i class="clr-yellow bi bi-clock-history me-md-4 me-2 fs-1"></i>
                <div>
                  <div class=" clr-sltblack">Availability</div>
                  <strong class="fw-bold">24/7</strong>
                </div>
              </div>
            </div>

            <!-- feat.3 -->
            <div class="col-md-auto col-sm-4 col-6  " data-aos="fade-up" data-aos-delay="400">
              <div class="d-flex align-items-center  box shadow py-2 px-4" >
                <i class="clr-yellow bi bi-cash-coin me-md-4 me-2 fs-1"></i>
                <div>
                  <div class=" clr-sltblack">Starting</div>
                  <strong class="fw-bold">₱740</strong>
                </div>
              </div>
            </div>

          </div>
          <!-- end feature -->

        </div>

        <!-- right --> 
        <div class="col-lg-5" data-aos="fade-left" data-aos-delay="200"> 
          <img src="assets/imgs/showcase.png" alt="" class="img-fluid w-100 d-sm-block d-none">
        </div>

      </div>
    </div>
    
  </section>
  <!-- end hero -->
