<!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow fixed-top poppins" >
    <div class="container" data-aos="fade-down" data-aos-delay="100">
      <a href="#hero" class="brand navbar-brand  ls-1">
        <img class="logo me-4" src="assets/imgs/logo.png" alt="">
        Triar <span class="clr-yellow fw-semibold"> L300</span>
      </a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse g-5" id="navMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-4">
            <a href="#rides" class="nav-link">Rides</a>
          </li>
          <li class="nav-item mx-4">
            <a href="#qoute" class="nav-link">Qoute</a>
          </li>
          <li class="nav-item mx-4">
            <a href="#contacts" class="nav-link">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navabr -->