
  <!-- rides -->
  <section class="py-5 bgc-grey montserrat" id="rides" >
    <div class="container">
      <div>
        <h2 class="fw-bold mb-0" data-aos="fade-right" data-aos-delay="200">Rides</h2>
        <small class="clr-yellow" data-aos="fade-right" data-aos-delay="200">see other available vehicles</small>
      </div>
      <div class="row g-4 mt-lg-2 mt-3">
        
        <!-- ride 1 -->
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-lg-4 " data-aos="fade-up" data-aos-delay="200">
          <div class="card h-100 shadow">
            <img src="assets/imgs/L300.png" alt="" class="card-img-top">
            <div class="card-body text-center">
              <h2 class="card-title">L300</h2>
              <p class="clr-sltblack">Spacious cargo layout — ideal for deliveries or moving items.</p>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <button class="btn bgc-yellow"> <b> ₱3000</b>/day</button>
                <a href="#qoute" class="btn  btn-outline-dark" >Book</a>
              </div>
            </div>
          </div>
        </div>

        <!-- ride 2 -->
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-lg-4 " data-aos="fade-up" data-aos-delay="300">
          <div class="card h-100 shadow">
            <img src="assets/imgs/Jeep.png" alt="" class="card-img-top">
            <div class="card-body text-center">
              <h2 class="card-title">Jeepney</h2>
              <p class="clr-sltblack">Seats up to 24 passengers. Good for family outing.</p>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <button class="btn bgc-yellow"> <b>Coming Soon</b></button>
                <a href="#qoute" class="btn  btn-outline-dark" >Book</a>
              </div>
            </div>
          </div>
        </div>

        <!-- ride 3 -->
        <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-lg-4 " data-aos="fade-up" data-aos-delay="400">
          <div class="card h-100 shadow">
            <img src="assets/imgs/nissan.png" alt="" class="card-img-top">
            <div class="card-body text-center">
              <h2 class="card-title">Passenger Van</h2>
              <p class="clr-sltblack">Extra legroom, premium seats, and luggage space for longer trips.</p>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <button class="btn bgc-yellow"> <b>Coming Soon</b></button>
                <a href="#qoute" class="btn  btn-outline-dark" >Book</a>
              </div>
            </div>
          </div>
        </div>
        

      </div>

      
    </div>
    
  </section>
 <!-- end rides -->
